---
import type { Description } from "types";
import TextRender from "./TextRender.astro";
import Buttons from "./Buttons.astro";
import Overview from "./Overview.astro";

type Props = {
  code: string;
  demo: string;
  description: Description[];
};

const { code, demo, description } = Astro.props;
---

<section
  class="flex h-full flex-col justify-between gap-y-4 lg:basis-4/5 lg:justify-start"
>
  <TextRender value={description} />
  <Buttons code={code} demo={demo} />
</section>
