---
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";

type Props = {
  title: string;
  techs: string[];
  overview: string;
};

const { title, techs, overview } = Astro.props;
---

<Card className="w-full cursor-pointer">
  <CardHeader>
    <CardTitle className="text-primary text-xl line-clamp-2">
      {title}
    </CardTitle>
  </CardHeader>
  <CardContent>
    <p class="line-clamp-3">
      {overview}
    </p>
  </CardContent>
  <CardFooter>
    {techs.map((tech, index) => <p>{tech}</p>)}
  </CardFooter>
</Card>
