---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";

const { title } = Astro.props;
---

<Card className="w-full cursor-pointer h-60">
  <CardHeader>
    <CardTitle className="text-primary text-xl line-clamp-2">
      {title}
    </CardTitle>
    <CardDescription>Card Description</CardDescription>
  </CardHeader>
  <CardContent>
    <p>Card Content</p>
  </CardContent>
  <CardFooter>
    <p>Card Footer</p>
  </CardFooter>
</Card>
