---
import SidePanel from './react/SidePanel';
type Props = {
  data: {
    firstName: string;
    lastName: string;
    description: string | null;
    resumeLink: string;
  };
};

const { data } = Astro.props;
const { firstName, lastName, description, resumeLink } = data;
---

<section
  class='right-0 hidden h-full w-1/2 items-center md:fixed md:block md:basis-1/2'>
  <SidePanel
    client:visible
    firstName={firstName}
    lastName={lastName}
    description={description}
    resumeLink={resumeLink}
  />
</section>
